name: Generate Release

on:
  workflow_dispatch:
    inputs:
      release-type:
        description: 'Select release type'
        required: true
        default: 'patch'
        type: choice
        options:
          - major
          - minor
          - patch
      publish-to-maven-central:
        description: 'Publish artifact to Maven Central'
        required: false
        type: boolean
        default: false

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      actions: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Set up Git user
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"

      - name: Run Gradle Release
        run: |
          ./gradlew release -PreleaseType=${{ github.event.inputs.release-type }}

      # - name: Create Git tag
      #   run: |
      #     VERSION=$(./gradlew getVersion)
      #     git tag -a "v${VERSION}" -m "Release v${VERSION}"
      #     git push origin "v${VERSION}"

      - name: Generate GitHub Release and Upload Artifact
        uses: softprops/action-gh-release@v1
        with:
          files: ./build/libs/*.jar
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish to Maven Central (Nexus)
        if: ${{ github.event.inputs.publish-to-maven-central == 'true' }}
        run: ./gradlew publishToSonatype
        env:
          GPG_SECRET_KEY: ${{ secrets.GPG_SECRET_KEY }}
          GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}

      - name: Close and Release Sonatype Staging Repository
        if: ${{ github.event.inputs.publish-to-maven-central == 'true' }}
        run: ./gradlew closeAndReleaseSonatypeStagingRepository
        env:
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
